<section class="section bg-section" id="team">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12 ">
            <div class="title-new">
                <span class="font-weight-bold text-uppercase text-white mb-2 subtitle-big text-center"> About Us</span>
                <h3 class="font-weight-bold text-white line-height-1_4 mb-4 text-center">Who We Are ?</h3>
                <div class="separator-hijau mb-4 w-10 center"></div>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="team-wrap">
            <div class="row">
              <div class="col-md-4">
                <div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
                  <div class="image-team">
                      <figure>
                          <img src="assets/images/team2.jpg" alt="team2" class="img-fluid d-block">
                      </figure>
                  </div>  
                  <div class="desc-">
                      <h4 class="font-weight-bold mb-2 wc-title mt-4">Team 1 </h4>
                      <h5 class="wc-title">Jabatan</h5>
                        <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
                  <div class="image-team">
                      <figure>
                          <img src="assets/images/team2.jpg" alt="team2" class="img-fluid d-block">
                      </figure>
                  </div>  
                  <div class="desc-">
                      <h4 class="font-weight-bold mb-2 wc-title mt-4">Team 2 </h4>
                      <h5 class="wc-title">Jabatan</h5>
                        <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
                  <div class="image-team">
                      <figure>
                          <img src="assets/images/team2.jpg" alt="team1" class="img-fluid d-block">
                      </figure>
                  </div>  
                  <div class="desc-">
                      <h4 class="font-weight-bold mb-2 wc-title mt-4">Team 3 </h4>
                      <h5 class="wc-title">Jabatan</h5>
                        <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
